<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>position</key>
	<dict>
		<key>firstTitle</key>
		<dict>
			<key>x</key>
			<string>110</string>
			<key>y</key>
			<string>620</string>
		</dict>
		<key>naviTitle</key>
		<dict>
			<key>x</key>
			<string>280</string>
			<key>y</key>
			<string>620</string>
		</dict>
		<key>lastIntrTitle</key>
		<dict>
			<key>x</key>
			<string>990</string>
			<key>y</key>
			<string>620</string>
		</dict>
		<key>leftNaviTitle</key>
		<dict>
			<key>x</key>
			<string>85</string>
			<key>y</key>
			<string>540</string>
		</dict>
		<key>leftNaviTitlePic</key>
		<dict>
			<key>x</key>
			<string>210</string>
			<key>y</key>
			<string>530</string>
		</dict>
		<key>S2PSideNavBottomImg</key>
		<dict>
			<key>x</key>
			<string>120</string>
			<key>y</key>
			<string>140</string>
		</dict>
	</dict>
	<key>fontSize</key>
	<dict>
		<key>firstTitle</key>
		<string>40</string>
		<key>naviTitle</key>
		<string>25</string>
		<key>lastIntrTitle</key>
		<string>15</string>
		<key>leftNaviTitle</key>
		<string>20</string>
	</dict>
	<key>string</key>
	<dict>
		<key>firstTitle</key>
		<string>滋补尚品</string>
		<key>lastTitle</key>
		<string>介绍</string>
	</dict>
	<key>groupString</key>
	<dict>
		<key>naviTitle</key>
		<dict>
			<key>1</key>
			<string>滋补类</string>
			<key>2</key>
			<string>中药饮片</string>
			<key>3</key>
			<string>炖煮系列</string>
		</dict>
		<key>leftNaviTitle</key>
		<dict>
			<key>1</key>
			<string>冬虫夏草</string>
			<key>2</key>
			<string>西洋参</string>
			<key>3</key>
			<string>海参</string>
			<key>4</key>
			<string>燕窝</string>
			<key>5</key>
			<string>鹿茸</string>
			<key>6</key>
			<string>石斛</string>
		</dict>
	</dict>
	<key>groupImage</key>
	<dict>
		<key>leftNaviTitlePic</key>
		<dict>
			<key>1</key>
			<string>S2PSideNavDong.png</string>
			<key>2</key>
			<string>S2PSideNavXing.png</string>
			<key>3</key>
			<string>S2PSideNavHai.png</string>
			<key>4</key>
			<string>S2PSideNavYan.png</string>
			<key>5</key>
			<string>S2PSideNavLu.png</string>
			<key>6</key>
			<string>S2PSideNavShi.png</string>
		</dict>
	</dict>
</dict>
</plist>
