<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>position</key>
	<dict>
		<key>PLogoOne</key>
		<dict>
			<key>x</key>
			<string>113</string>
			<key>y</key>
			<string>713</string>
		</dict>
		<key>PLogoTwo</key>
		<dict>
			<key>x</key>
			<string>290</string>
			<key>y</key>
			<string>713</string>
		</dict>
		<key>naviTitle</key>
		<dict>
			<key>x</key>
			<string>434</string>
			<key>y</key>
			<string>712</string>
		</dict>
		<key>PFootBar</key>
		<dict>
			<key>x</key>
			<string>512</string>
			<key>y</key>
			<string>24</string>
		</dict>
	</dict>
	<key>size</key>
	<dict>
		<key>naviTitle</key>
		<dict>
			<key>width</key>
			<string>300</string>
			<key>height</key>
			<string>30</string>
		</dict>
	</dict>
	<key>fontSize</key>
	<dict>
		<key>naviTitle</key>
		<string>25</string>
		<key>PFootBar</key>
		<string>20</string>
	</dict>
	<key>groupString</key>
	<dict>
		<key>naviTitle</key>
		<dict>
			<key>1</key>
			<string>金日尚品</string>
			<key>2</key>
			<string>滋补尚品</string>
			<key>3</key>
			<string>四季养生</string>
			<key>4</key>
			<string>合作共赢</string>
		</dict>
	</dict>
	<key>string</key>
	<dict>
		<key>PFootBar</key>
		<string>香港金日集团旗下高端滋补品牌</string>
	</dict>
</dict>
</plist>
