<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>position</key>
	<dict>
		<key>S12LeftPic</key>
		<dict>
			<key>x</key>
			<string>150</string>
			<key>y</key>
			<string>340</string>
		</dict>
		<key>rightContent</key>
		<dict>
			<key>x</key>
			<string>800</string>
			<key>y</key>
			<string>510</string>
		</dict>
		<key>showPicture</key>
		<dict>
			<key>x</key>
			<string>450</string>
			<key>y</key>
			<string>500</string>
		</dict>
	</dict>
	<key>fontSize</key>
	<dict>
		<key>rightContent</key>
		<string>20</string>
		<key>navi</key>
		<string>30</string>
	</dict>
	<key>size</key>
	<dict>
		<key>rightContent</key>
		<dict>
			<key>width</key>
			<string>400</string>
			<key>height</key>
			<string>100</string>
		</dict>
	</dict>
	<key>groupString</key>
	<dict>
		<key>rightContent</key>
		<dict>
			<key>1</key>
			<string>习近平同志接见香港厦门联谊总会理事长、香港金日集团董事长李仲树先生。</string>
			<key>2</key>
			<string>2011年3月15日，中国国民党名誉主席吴伯雄先生在台北接见香港金日集团董事长李仲树先生， 并一同鉴赏金日尚品产品。</string>
			<key>3</key>
			<string>2011年3月16日，香港金日集团董事长李仲树先生拜会台湾立法院院长王金平先生，通报了金日两岸医药保健合作计划。图为王金平赞道：&quot;金日尚品冬虫夏草又大又好！&quot;</string>
		</dict>
		<key>navi</key>
		<dict>
			<key>1</key>
			<string>金日尚品</string>
			<key>2</key>
			<string>企业介绍</string>
			<key>3</key>
			<string>领导关怀</string>
			<key>4</key>
			<string>新闻动态</string>
			<key>5</key>
			<string>品牌理念</string>
		</dict>
	</dict>
	<key>groupImage</key>
	<dict>
		<key>showPicture</key>
		<dict>
			<key>1</key>
			<string>S12Leader_1.png</string>
			<key>2</key>
			<string>S12Leader_2.png</string>
			<key>3</key>
			<string>S12Leader_3.png</string>
		</dict>
	</dict>
</dict>
</plist>
