<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>position</key>
	<dict>
		<key>date</key>
		<dict>
			<key>x</key>
			<string>40</string>
			<key>y</key>
			<string>580</string>
		</dict>
		<key>title</key>
		<dict>
			<key>x</key>
			<string>40</string>
			<key>y</key>
			<string>540</string>
		</dict>
		<key>PBackBtn</key>
		<dict>
			<key>x</key>
			<string>980</string>
			<key>y</key>
			<string>540</string>
		</dict>
		<key>s133LeftBigImg</key>
		<dict>
			<key>x</key>
			<string>300</string>
			<key>y</key>
			<string>328</string>
		</dict>
		<key>detailStr1</key>
		<dict>
			<key>x</key>
			<string>600</string>
			<key>y</key>
			<string>505</string>
		</dict>
		<key>detailStr2</key>
		<dict>
			<key>x</key>
			<string>30</string>
			<key>y</key>
			<string>128</string>
		</dict>
		<key>PPreBtn</key>
		<dict>
			<key>x</key>
			<string>40</string>
			<key>y</key>
			<string>80</string>
		</dict>
		<key>PNextBtn</key>
		<dict>
			<key>x</key>
			<string>980</string>
			<key>y</key>
			<string>80</string>
		</dict>
	</dict>
	<key>fontSize</key>
	<dict>
		<key>date</key>
		<string>15</string>
		<key>title</key>
		<string>30</string>
		<key>detailStr</key>
		<string>20</string>
	</dict>
	<key>size</key>
	<dict>
		<key>detailStr1</key>
		<dict>
			<key>width</key>
			<string>420</string>
			<key>height</key>
			<string>0</string>
		</dict>
		<key>detailStr2</key>
		<dict>
			<key>width</key>
			<string>1000</string>
			<key>height</key>
			<string>0</string>
		</dict>
	</dict>
	<key>string</key>
	<dict>
		<key>date</key>
		<string>发布时间：2013年4月27日10：10 浏览次数：111</string>
		<key>title</key>
		<string>金日时尚之星 － 叶文益</string>
		<key>detailStr1</key>
		<string>香港金日大厦香港金日大厦香港金日大厦香港金日大厦香港金日大厦香港金日大厦香港金日大厦1</string>
		<key>detailStr2</key>
		<string>香港金日大厦香港金日大厦香港金日大厦香港金日大厦香港金日大厦香港金日大厦香港金日大厦2</string>
	</dict>
</dict>
</plist>
