<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>position</key>
	<dict>
		<key>S11BigPic</key>
		<dict>
			<key>x</key>
			<string>300</string>
			<key>y</key>
			<string>400</string>
		</dict>
		<key>rightTitleTableView</key>
		<dict>
			<key>x</key>
			<string>566</string>
			<key>y</key>
			<string>200</string>
		</dict>
	</dict>
	<key>fontSize</key>
	<dict>
		<key>firstStr</key>
		<string>40</string>
		<key>navi</key>
		<string>30</string>
		<key>leftDownTitle</key>
		<string>20</string>
		<key>rightFirstTitle</key>
		<string>40</string>
	</dict>
	<key>size</key>
	<dict>
		<key>leftDownTitle</key>
		<dict>
			<key>width</key>
			<string>262</string>
			<key>height</key>
			<string>0</string>
		</dict>
		<key>rightTitleTableView</key>
		<dict>
			<key>width</key>
			<string>316</string>
			<key>height</key>
			<string>0</string>
		</dict>
	</dict>
	<key>groupString</key>
	<dict>
		<key>leftDownTitle</key>
		<dict>
			<key>1</key>
			<string>1.香港金日大厦</string>
			<key>2</key>
			<string>2.国际GMP标准生产环境</string>
			<key>3</key>
			<string>3.高标准质量管控系统</string>
			<key>4</key>
			<string>4.CMP认证</string>
		</dict>
		<key>rightTitleTableView</key>
		<dict>
			<key>1</key>
			<string>香港金日大厦香港金</string>
			<key>2</key>
			<string>香港金日大厦香港金日大厦香港金日大厦香港金日大厦香港金日大厦香港金日大厦香港金日大厦1</string>
			<key>3</key>
			<string>香港金日大厦香港金日大厦香港金日大厦香港金日大厦香港金日大厦香港金日大厦香港金港金日大厦香港金港金日大厦香港金日大厦香港金日大厦2</string>
			<key>4</key>
			<string>香港金日大厦香港金日大厦香港金日大厦香港金日大厦香港金日大厦香港金日大厦香港金日大厦香港金日大厦3</string>
			<key>5</key>
			<string>香港金日大厦香港金日大厦香港金日大厦香港金日大厦香港金日大厦香港金日大厦香港金日大厦香港金日大厦4</string>
			<key>6</key>
			<string>香港金日大厦香港金日大厦香港金日大厦香港金日大厦香港金日大厦香港金日大厦香港金日大厦香港金日大厦5</string>
		</dict>
	</dict>
	<key>groupImage</key>
	<dict>
		<key>scrollPic</key>
		<dict>
			<key>1</key>
			<string>S11ScrollPic1.png</string>
			<key>2</key>
			<string>S11ScrollPic2.png</string>
			<key>3</key>
			<string>S11ScrollPic3.png</string>
			<key>4</key>
			<string>S11ScrollPic4.png</string>
		</dict>
	</dict>
</dict>
</plist>
