<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>position</key>
	<dict>
		<key>S22BigImg</key>
		<dict>
			<key>x</key>
			<string>450</string>
			<key>y</key>
			<string>400</string>
		</dict>
		<key>productName</key>
		<dict>
			<key>x</key>
			<string>820</string>
			<key>y</key>
			<string>450</string>
		</dict>
		<key>back</key>
		<dict>
			<key>x</key>
			<string>1000</string>
			<key>y</key>
			<string>650</string>
		</dict>
		<key>scrollPic</key>
		<dict>
			<key>x</key>
			<string>335</string>
			<key>y</key>
			<string>140</string>
		</dict>
	</dict>
	<key>image</key>
	<dict>
		<key>S22BigImg</key>
		<string>S22BigImg.png</string>
	</dict>
	<key>fontSize</key>
	<dict>
		<key>productName</key>
		<string>25</string>
		<key>scrollStr</key>
		<string>20</string>
	</dict>
	<key>groupString</key>
	<dict>
		<key>scrollPic</key>
		<dict>
			<key>1</key>
			<string>16－H（40g）</string>
			<key>2</key>
			<string>特选－35－B（25g）</string>
			<key>3</key>
			<string>特选－35－H（8g）</string>
			<key>4</key>
			<string>特选－35－H（30g）</string>
		</dict>
	</dict>
	<key>size</key>
	<dict>
		<key>scrollPic</key>
		<dict>
			<key>width</key>
			<string>262</string>
			<key>height</key>
			<string>1000</string>
		</dict>
	</dict>
	<key>groupImage</key>
	<dict>
		<key>scrollPic</key>
		<dict>
			<key>1</key>
			<string>S22DispalySmall1.png</string>
			<key>2</key>
			<string>S22DispalySmall2.png</string>
			<key>3</key>
			<string>S22DispalySmall3.png</string>
			<key>4</key>
			<string>S22DispalySmall4.png</string>
		</dict>
	</dict>
	<key>string</key>
	<dict>
		<key>productName</key>
		<string>虫草～特选－25－H </string>
	</dict>
</dict>
</plist>
