<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>position</key>
	<dict>
		<key>scrollView</key>
		<dict>
			<key>x</key>
			<string>200</string>
			<key>y</key>
			<string>300</string>
		</dict>
	</dict>
	<key>fontSize</key>
	<dict>
		<key>picIntro</key>
		<string>40</string>
	</dict>
	<key>size</key>
	<dict>
		<key>showSize</key>
		<dict>
			<key>width</key>
			<string>900</string>
			<key>height</key>
			<string>600</string>
		</dict>
	</dict>
	<key>image</key>
	<dict>
		<key>wordPic</key>
		<string>S3WordPic.png</string>
	</dict>
	<key>groupString</key>
	<dict>
		<key>picIntro</key>
		<dict>
			<key>1</key>
			<string>冬虫草养生DIY</string>
			<key>2</key>
			<string>鹿茸美食养生DIY</string>
			<key>3</key>
			<string>燕窝美食养生DIY</string>
			<key>4</key>
			<string>海参美食养生DIY</string>
			<key>5</key>
			<string>石斛美食养生DIY</string>
			<key>6</key>
			<string>西洋参美食养生DIY</string>
		</dict>
	</dict>
	<key>groupImage</key>
	<dict>
		<key>scrollPic</key>
		<dict>
			<key>1</key>
			<string>S31Product_01.png</string>
			<key>2</key>
			<string>S31Product_02.png</string>
			<key>3</key>
			<string>S31Product_03.png</string>
			<key>4</key>
			<string>S31Product_04.png</string>
			<key>5</key>
			<string>S31Product_05.png</string>
			<key>6</key>
			<string>S31Product_06.png</string>
		</dict>
	</dict>
</dict>
</plist>
