<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>position</key>
	<dict>
		<key>firstTitle</key>
		<dict>
			<key>x</key>
			<string>110</string>
			<key>y</key>
			<string>620</string>
		</dict>
		<key>naviTitle</key>
		<dict>
			<key>x</key>
			<string>280</string>
			<key>y</key>
			<string>620</string>
		</dict>
		<key>S2PSideNavBottomImg</key>
		<dict>
			<key>x</key>
			<string>120</string>
			<key>y</key>
			<string>140</string>
		</dict>
	</dict>
	<key>fontSize</key>
	<dict>
		<key>firstTitle</key>
		<string>40</string>
		<key>naviTitle</key>
		<string>25</string>
	</dict>
	<key>string</key>
	<dict>
		<key>firstTitle</key>
		<string>合作共赢</string>
	</dict>
	<key>groupString</key>
	<dict>
		<key>naviTitle</key>
		<dict>
			<key>1</key>
			<string>滋补类</string>
			<key>2</key>
			<string>中药饮片</string>
			<key>3</key>
			<string>炖煮系列</string>
		</dict>
	</dict>
</dict>
</plist>
